@import "./variables.scss";

.header {
  font-weight: 700;
  font-size: 1.5rem;
  font-family: $font;
  width: $width;
  margin: 10.932475884244372vh auto auto auto;
  display: flex;
  justify-content: space-between;
  .headLink{
    color: $primary;
    font-size: 2rem;
  }

  a {
    font-family:$font;

    color: $fontColor;
  }
  .ulDiv{
    &__ul{
      display: flex;
      gap: 1.640625vw ;
      li{
        font-family:$font;

        list-style: none;
        font-weight: 500;
        font-size: 21px;
        line-height: 120%;
        letter-spacing: -0.03em;
      }
    }

  }
}
@media  screen and (max-width: 1000px) {
  .header {
    font-weight: 700;
    font-size: 1.5rem;
    font-family: $font;
    width: 80%;
    margin: 3rem auto auto auto;
    display: flex;
    justify-content: space-between;
    .headLink{
      color: $primary;
      font-size: 2rem;
    }
  
    a {
      font-family: $font;
      color: $fontColor;
    }
    .ulDiv{
      &__ul{
        display: flex;
        gap: 1rem ;
        li{
          font-family:$font;
  
          list-style: none;
          font-size: 1rem;
        }
      }
  
    }
  }
  

  
}