@import "./variables.scss";
.projectDiv {
  width: $width;
  margin: auto;

}
.projectSection__box {
  display: flex;
  flex-direction: column;
  &__inner {
    display: flex;
    justify-content: space-around;
    width: $width;
    height: 50.69667738478028vh;

    &__text {
      display: flex;
      flex-direction: column;
      width: 18.541666666666668vw;
      height: 364.68px;
      justify-content: space-between;
      &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 121.5%;
        letter-spacing: -0.03em;
      }
      &__description,
      &__stack {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 121.5%;
        letter-spacing: -0.03em;
      }
      &__stack {
        display: flex;
        gap: 1rem;
      }
      &__links {
        display: flex;
        gap: 8rem;
        a {
          font-weight: 500;
          font-size: 18px;
          line-height: 121.5%;
          letter-spacing: -0.03em;
          text-decoration-line: underline;
          color: $primary;

        }
      }
    }
    &__img {
      &__image {
        width: 640px;
        height: 364.68px;
        background-color: aqua;
      }
    }
  }
  .divisor {
    width: $width;
    height: 2px;
    background-color: $fontColor;
    margin-bottom: 8rem;
  }
}
